{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class='col-12 col-md-10 col-lg-10 col-xl-8 text-center pt-2' >
            <h1 >Market Moves</h1>
            <div class='card border border-2 border-grey mt-2'>            	
				<div class='card-body'>
					<p class='lead'>Enter a ticker and a desired return to see the associated probability*. Leave the return field blank to see latest return.</p>
                    <form method='POST' class='mt-1 form-floating'>
                        {{ form.csrf_token }}
                        <div class='row justify-content-center'>
                            <div class='col-10 col-md-8  text-center'>
                                <div class="form-group row my-2">
                                    <label class="col-lg-2 col-form-label">Ticker</label>
                                    <div class="col-lg-10">
                                      {{ form.ticker(class="form-control form-control-lg text-center",placeholder="Enter ticker symbol") }}
                                    </div>
                                </div>
                                <div class="form-group row my-2">
                                    <label class="col-lg-2 col-form-label">Return (%)</label>
                                    <div class="col-lg-10">
                                      {{ form.return_(class="form-control form-control-lg text-center",placeholder="Latest return") }}
                                    </div>
                                </div>
                                <div class="form-group row my-2">
                                    <label class="col-lg-2 col-form-label">Tail</label>
                                    <div class="col-lg-10">
                                      {{ form.tail(class="form-control form-control-lg text-center") }}
                                    </div>
                                </div>
                                <div class="form-group row my-2">
                                    <label class="col-lg-2 col-form-label">Period</label>
                                    <div class="col-lg-10">
                                      {{ form.period(class="form-control form-control-lg text-center") }}
                                    </div>
                                </div>
                                <div class="form-outline my-2">
                                    <button class="btn btn-primary" type="submit" style='background-color: #0456d9; border-color: #a8a8a8;'>Submit</button>
                                </div>
                                <p class='small mt-3 mb-0 pb-0'>*Based on the time period selected, and assuming returns are normally distributed.</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class='col-12 col-md-10 col-lg-10 col-xl-8 text-center mb-2' >
            <div class="card d-block border border-2 border-grey mt-2 container-fluid"  >
                <div class="row m-auto">
                    {% if not err %}
                        <div class='card-header'>
                            <h2>{{ticker['longName']}}</h2>
                        </div>
                        <div class='card-body'>
                            {% if not custom_return %}
                                <p class='lead' >Return ({{latest_date}}): <b>{{ return_ }}%</b></p>
                            {% else %}
                                <p class='lead' >Return: {{ return_ }}%</p>
                            {% endif %}
                            <p class='lead' >{{ text | safe }}</p>
                            <h3 class='mb-0 pb-0 mt-5'><u>Return Distribution</u></h3>
                            <div style="overflow-x: auto;">
                                <div class='mt-0 pt-0' id='market-plot' style='min-width: 600px;'>
                                    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                                    <script type='text/javascript'>
                                      var graph1 = {{ plot | safe }};
                                      var config = {responsive: true};
                                      Plotly.plot('market-plot',graph1,{displayModeBar: false});
                                    </script>
                                </div>
                            </div>
                            <h3 class='mb-0 pb-0 mt-5'><u>Price History</u></h3>
                            <p class='small'>Click and drag to zoom. Double click to reset chart.</p>
                            <div style="overflow-x: auto;">
                                <div class='mt-0 pt-0' id='price-plot'  style='min-width: 600px;'>
                                    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                                    <script type='text/javascript'>
                                      var graph2 = {{ price_plot | safe }};
                                      var config = {responsive: true};
                                      Plotly.plot('price-plot',graph2,{displayModeBar: false});
                                    </script>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p class='lead'>Ticker not found</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
